<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col l9 offset-l2 m12 s12">
        <h2>FAQ</h2>
        <ul class="collapsible" data-collapsible="expandable">
          <h5>Top Questions:</h5>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>What is the benefit of using Pristine Wireless?</div>
            <div class="collapsible-body"><span>What makes a great repair service? To us it is one that not only offers a convenience to customers but also maintains a superior level of professionalism, affordability, transparency, and service. Pristine Wireless provides a service that lives up to all of those things and we achieve it in strides. Our online process makes walking into a repair shop and long wait times a thing of the past.</span></div>

          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Does Pristine Wireless really come to me?</div>
            <div class="collapsible-body"><span>Yes, we do. We are entirely mobile meaning that they can repair your device right in front of you at the place of choice (home, work, school, local coffee shop, etc.).</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>How do I schedule a phone reapir?</div>
            <div class="collapsible-body"><span>Use <a routerLink="/repair">this link</a> to schedule your repair. Simply choose your device type, device issue and enter your contact information.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do screen repairs really include a screen protector?</div>
            <div class="collapsible-body"><span>Yes! Every screen repair done by Pristine Wireless includes a tempered glass screen protector! We will skillfully apply the protector leaving you with a perfectly aligned job, free of any dust or bubbles. Consider it our gift to you.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Who are the Pristine Specialists?</div>
            <div class="collapsible-body"><span>A Pristine Specialist is our clean take on the traditional techician. While vetting our skilled technicians, we place great emphasis on trust and safety and once chosen, all of our techs are capable of solving any technical problem our mobile devices can throw at them. Pristine Specialists are eager to share and demonstrate their technical expertise so rest assured that you are in great hands. All Pristine Specialists have been carefully vetted and screened and we require a comprehensive background check.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do I need to let the technician into my home?</div>
            <div class="collapsible-body"><span>Your convenience and piece of mind is of our top priority. If you are not absolutely comfortable with the idea of letting the tech into your home, we have found that local coffee shops are perfect for our repairs. </span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do I standby while the technician fixes my device?</div>
            <div class="collapsible-body"><span>You are more than welcomed to watch the repair process but it is not absolutely necessary. Having our techs come out you creates the gift of time which means you can get back to work on pending tasks, errands, or just about whatever else you would otherwise be doing had you not made the call to us.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>What if you can't fix it?</div>
            <div class="collapsible-body"><span>We rarely encounter a problem that we can't fix. But if we can’t, you don’t pay a cent.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>How do I pay?</div>
            <div class="collapsible-body"><span>You pay only once the repair is complete and done to your satisfaction. Simply pay your technician after your appointment is done using the technician’s mobile phone. We accept all major credit and debit cards.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do you accept cash?</div>
            <div class="collapsible-body"><span>Yes.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do you use original (OEM) parts?</div>
            <div class="collapsible-body"><span>We source the highest quality parts for your device and warranty the work with a <a class="site-top" routerLink="/guarantee">Lifetime Guarantee</a>.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do you repair anything other than cracked glass?</div>
            <div class="collapsible-body"><span>Yes, we also replace batteries, charging ports, home buttons, cameras, and speakers. Virtually every physical component of the device is replaceable.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>What if I have to reschedule?</div>
            <div class="collapsible-body"><span>Communication is key. Plans can change and we understand that so all that we ask is that you notify the technician that is assigned to your request. They will be more than understanding and work with you to find a more convenient time and date.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>How long does the repair usually take?</div>
            <div class="collapsible-body"><span>On average, most reapirs can be done in under 30 mintues so you'll be back and reconnected with your device in no time!</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Is my data secure? Should I back up my phone?</div>
            <div class="collapsible-body"><span>We take the proper measures when repairing your device to ensure that that all of your data is secure. However, we would suggest that you back up your device and all of its data in the event of a restore or reset being needed to correct the issues with the device.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Can you repair more than one device at a time?</div>
            <div class="collapsible-body"><span>Absolutely! Let us know and we can repair multiple devices in a single appointment.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do you provide a gurantee on repairs?</div>
            <div class="collapsible-body"><span>Yes! All of our services come with a <a class="site-top" routerLink="/guarantee">Lifetime Guarantee</a>. The parts we use are of the highest quality we can source and have been tested prior to the repair to ensure that you are being left with the best repair possible.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>What if I crack my screen again after the repair?</div>
            <div class="collapsible-body"><span>We are here to help. Unfortunately our guarantee does not cover the event in which damage to the device occurs once it is back in your hands. We do however offer discounts on devices that have been repaired within a <strong>one month</strong> window. </span></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col l9 offset-l2 m12 s12">
        <ul class="collapsible" data-collapsible="expandable">
          <h5>User Submitted Questions:</h5>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do you only repair Apple devices?</div>
            <div class="collapsible-body"><span>At the moment yes, but we are always adding more devices to our services. Feel free to <a>contact our support</a> with inquiries to repair other devices.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do you repair phones damaged by water or other liquid?</div>
            <div class="collapsible-body"><span>Sadly, not at this time.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>How can I become a Pristine Specialist?</div>
            <div class="collapsible-body"><span>We are constantly looking to add qualified technicians to our network. To apply, <a class="site-top" routerLink="/joint">click here</a> to fill out an application.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Who can I contact about PR or marketing opportunities?</div>
            <div class="collapsible-body"><span>You are welcome to email our marketing department: <a>marketing@pristinewireless.com</a></span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Do you guys have accessories for my phone?</div>
            <div class="collapsible-body"><span>Unfortunately we do not but we can make great recommendations as to what brands supply good chargers, cases, and accessories.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>Can you unlock or jailbreak devices?</div>
            <div class="collapsible-body"><span>Sorry, we can’t do that for you.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>How long will it take to set me up with a technician?</div>
            <div class="collapsible-body"><span>We aim to provide a same-day repair meeting. Scheduling ultimately depends on the technician’s schedule and your own. We coordinate your repair request based on your preferred time and location, as well as our technicians’ availability.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>How do I find out the technician's ETA?</div>
            <div class="collapsible-body"><span>Your Pristine Specialist will text or call you as soon as your request is submitted and recevied.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons faq-icon">add</i>After I set up my appointment, how can I contact Pristine Wireless?</div>
            <div class="collapsible-body"><span>Your Pristine Specialist should be in constant communication with you but if you wish to contact our support team at any time, you can give us a call at (954) 633-5010 or email us at <a>pristine.wireless@gmail.com</a></span></div>
          </li>
        </ul>
      </div>

    </div>
  </div>

</section>
