<!-- <section id="about-header">
  <div class="row">
    <div class="col m6 s12 left-side valign-wrapper">
      <h2 class="valign center-align">Our History</h2>
    </div>
    <div class="col m6 s12 right-side valign-wrapper">
      <div class="container valign">
        <div class="history-content">
          <p><i>"Your convenience is our business and one of our priorities to you as a customer is to get you reconnected to your devices in the most convenient and enjoyable manner." </i></p>
          <h4>Daniel Soraluz - Owner and Lead Technician</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-content" style="opacity: 0;">
    <div class="row">
      <div class="col m6 s12 valign-wrapper second-left-side">
        <p class="valign">At Pristine Wireless, we understand that breaking your mobile device can be a stressful and frustrating experience in itself so repairing them shouldn't be. When looking at the plethora of repair options that are out there for mobile devices, it can be a daunting task to choose one. Often times, there lacks a sense of professionalism and a customer service with the choices out there; one may even leave a repair shop feeling shorted or worse, having to return to the place of the repair because of a faulty part or technician error. We strive to do the job right first time and best of all, meet you in your place of choice so that we can save you from this inconvenience.</p>
      </div>
      <div class="col m6 s12 valign-wrapper second-right-side">
        <img src="../../assets/img/main-logo.png" alt="">
      </div>
    </div>
</section> -->

<section id="about">
  <div class="overlay">

  </div>
  <div class="row about-hero">
    <!-- <img class="about-img" src="../../assets/img/about-bg.jpg" /> -->
    <p>
      We are not in the business of <span>crakced screens</span>,<br /> we are in the business of giving back <span>time</span>.
    </p>
  </div>
  <div class="container">
    <div class="row about-text">
      <div class="col s12 center">
        <p>At Pristine Wireless, we understand that breaking your mobile device can be a stressful and frustrating
          experience in itself so repairing them shouldn't be. When looking at the plethora of repair options that are out there for mobile devices, it can be a daunting task to choose one. Often times, there lacks a sense of professionalism and a customer service with the choices out there; one may even leave a repair shop feeling shorted or worse, having to return to the place of the repair because of a faulty part or technician error. We strive to do the job right first time and best of all, meet you in your place of choice so that we can save you from this inconvenience.</p>
        </div>
      </div>
  </div>
</section>
