<section id="affiliate">
  <div class="overlay">

  </div>
  <div class="row affiliate-hero">
    <!-- <img class="about-img" src="../../assets/img/about-bg.jpg" /> -->
    <p>
      The best <span>compliment</span> that you can give is a <span>referral</span>.
    </p>
  </div>
  <div class="container">
    <div class="row affiliate-text">
      <div class="col s12 center">
        <h2>AFFILIATE PROGRAM</h2>
        <p>At Pristine Wireless, we understand that breaking your mobile device can be a stressful and frustrating
          experience in itself so repairing them shouldn't be. When looking at the plethora of repair options that are out there for mobile devices, it can be a daunting task to choose one. Often times, there lacks a sense of professionalism and a customer service with the choices out there; one may even leave a repair shop feeling shorted or worse, having to return to the place of the repair because of a faulty part or technician error. We strive to do the job right first time and best of all, meet you in your place of choice so that we can save you from this inconvenience.</p>
        </div>
      </div>
  </div>
</section>
