<section>
  <div class="row">
    <div class="col-1">

      <p class="error">
        {{error}}
      </p>

    </div>

    <div *ngIf="user">
      <h2> You are now logged in as {{ user.username }}!! </h2>
      <p> Here's the user object </p>
      <pre> {{ user | json }} </pre>
      <button (click)="logout()"> Log Out </button>
    </div>

    <div class="col-5">
      <div *ngIf="!user">

        <h2> Create New Tech Login </h2>

        <form (ngSubmit)="createTechLogin()" id="form" #myForm="ngForm">
          <div>
            <label for="the-username-signup">  Tech Username </label>
            <input type="text" name="username" [(ngModel)]="newTechInfo.username" id="the-username-signup">
          </div>

          <div>
            <label for="the-password-signup"> Tech Password </label>
            <input type="password" name="password" [(ngModel)]="newTechInfo.password" id="the-password-signup">
          </div>

          <button> Create New Tech </button>
        </form>
      </div>

    </div>

    <div class="col-5">
      <div *ngIf="!user">
        <h1> Log In </h1>
        <form  (ngSubmit)="login()" id="form" #myForm="ngForm">
          <label for="username">Username</label>
          <input type="text" name="username" [(ngModel)]="loginInfo.username"
              placeholder="Obiwan" required>

          <label for="password">Password</label>
          <input type="password" name="password" [(ngModel)]="loginInfo.password"
            placeholder="thatsnomoon" required>

          <button>Log in</button>
        </form>

        <p class="account-message">
          Want to become a tech? <a routerLink="/apply">Join Us</a>
        </p>
      </div>

    </div>
  </div>

</section>
