@import "../../_variables.scss";

@font-face {
    font-family: 'Novecentosanswide-Book';
    src: url('../../assets/fonts/Novecentosanswide-Book-webfont.woff2') format('woff2'),
         url('../../assets/fonts/Novecentosanswide-Book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h2, h3{
  color: #555;
}


a:hover {
  cursor: pointer;;
}

#pricing-container {
  margin-top: 50px;

  p {
    margin: 0 0 50px 0;
  }
}

blockquote {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 5px solid $company-green;
  color: #a5a4a4;
  font-style: italic;
  font-size: 20px;
  margin: 30px;
  padding: 30px;
  text-align: center;

  .quote {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Novecentosanswide-Book', sans-serif;
  }
}

#generate-quote {
  margin: 50px 0 50px 0;
  text-align: left;
  span {
    // margin-left: 30%;
    color: #555;
    font-weight: bold;
  }

  hr {
    width: 100%;
  }

}

.option, {
  margin: 20px 0 20px 0;
  font-size: 18px;
}

.promotion {
  font-size: 13px;
  @media (max-width: 600px){
  }
  i{
    color: #7cb342;
  }

}

.price {
  text-align: right;
  @media (max-width: 600px){
    text-align: center;
  }
  h3 {
    font-size: 200%;
  }
}

#included {
  .included {
    width: 200px;
    height: 200px;
    background-color: #7cb342;
    border-radius: 50%;
  }
  i {
    margin-top: 30px;
    font-size: 60px;
    color: #7cb342;
  }
}

.select-device {
  text-align: center;
  img {
    height: 100px;
    width: 175px;
    margin-bottom: 40px;
  }

  span {
    // font-weight: bold;
  }

  button {
    // margin: 0, auto;
    text-align: center;
    width: 100px;
    height: 100px;
    float: left;
    padding: 15px;
    margin: 15px;
    color: #555;
    background-color: white;
    border: 3px #337AB7 solid;
    border-radius: 7px;
  }

}

.select-issue {
  text-align: center;
  button{
    width: 110px;
    height: 110px;
    float: left;
    padding: 15px;
    margin: 15px;
    color: #555;
    background-color: white;
    border: 3px #337AB7 solid;
    border-radius: 7px;
  }
}

#promo-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .promo-flex {
    display: flex;
    flex-direction: row;

    .input-field label {
      @media (max-width: 320px){
        font-size: 0.9rem;
      }
    }

    /* label focus color */
    .input-field input[type=text]:focus + label {
        color: $company-green;
      }
    /* label underline focus color */
    .input-field input[type=text]:focus {
       border-bottom: 1px solid $company-green;
       box-shadow: 0 1px 0 0 $company-green;
     }

    a {
      align-self: center;
      margin-left: 25px;
      font-size: 12px;
    }
  }
  .repair-btn {
    font-size: 16px;
    align-self: center;
  }
}




#device-modal, #issue-modal {
  border-radius: 8px;
}

#issue-modal {
  #issue-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#device-modal {
  #device-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
