@import "../_variables.scss";

nav {
  img {
    width: 100%;
    margin-top: 18px;
  }
  a {
    color: #555;
    @media (max-width: 1374px) and (min-width: 1222px){
      font-size: 12px;
    }
    @media (max-width: 1222px) and (min-width: 1668px){
      font-size: 11px;
    }
    @media (max-width: 1667px) and (min-width: 1117px){
      font-size: 10px;
    }
    @media (max-width: 1117px) and (min-width: 1066px){
      font-size: 9px;
    }
    @media (max-width: 1065px) and (min-width: 1015px){
      font-size: 8px;
    }
    @media (max-width: 1014px) and (min-width: 992px){
      font-size: 7.5px;
    }
  }

  .left-items, .right-items {
    display: flex;
    justify-content: center;
  }

  .btn {
    color: #fff;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 5px;
    margin-right: 35px;
  }

  .button-box {
    display: flex;
    justify-content: center;
    @media (min-width: 993px){
      display: none;
    }

    ul>li {
      margin-left: 20px;
    }
    a {
      width: 75%;
      @media (max-width: 320px){
        margin-left: -12px;
        padding-left: 20px;
      }
    }
  }
}


footer {
  @media (max-width: 600px){
    display: none;
  }
  background: #32373c;
  color: #fff;
  padding: 60px 0;

  h3 {
    font-size: 100%;
    font-weight: 400;
    margin-bottom: 20px;
  }

  span {
    margin: 10px;
  }

  a {
    display: block;
    color: #fff;
    font-size: 100%;
    font-weight: 100;
    color: #acaeb0;
    margin-bottom: 10px;


    i {
      margin-right: 5px;
      font-size: 35px;
    }
  }
  .follow {
    a{
      display: inline;
      margin: 0 10px 0 0;
    }
  }

  .contact {
    font-size: 12px;
  }
  p {
    margin-bottom: 10px;
    color: #acaeb0;
    font-weight: 100;
  }
  .content-footer {
    text-align: left;
    padding-left: 8%;
  }
  .social {
    display: inline-block;
    font-size: 180%;

    i {
      margin: 0 30%;
    }
  }
}

#collapsible-footer{
  display: none;
  @media (max-width: 600px){
    display: block;
  }
  background: #32373c;
  color: #fff;
  padding: 60px 0;

  .collapsible {
    border: none;
    box-shadow: none;
  }

  .collapsible-header{
    background-color: #32373c;

  }

  .collapsible-body {
    padding: 0 0 0 1rem;
  }


  h3 {
    font-size: 100%;
    font-weight: 400;
    // margin-bottom: 20px;
    margin: 0;
  }

  span {
    margin: 10px;
  }

  a {
    display: block;
    color: #fff;
    font-size: 100%;
    font-weight: 100;
    color: #acaeb0;
    margin-bottom: 10px;


    i {
      margin-right: 5px;
      font-size: 35px;
    }
  }
  .follow {
    a{
      display: inline;
      margin: 0 10px 0 0;
    }
  }

  .contact {
    font-size: 12px;
  }
  p {
    margin-bottom: 10px;
    color: #acaeb0;
    font-weight: 100;
  }
  .content-footer {
    text-align: left;
    padding-left: 8%;
  }
  .social {
    display: inline-block;
    font-size: 180%;

    i {
      margin: 0 30%;
    }
  }
}


#login-modal {

  /* label focus color */
  .input-field input[type=email]:focus + label {
    color: $company-green;
  }
  /* label underline focus color */
  .input-field input[type=email]:focus {
    border-bottom: 1px solid $company-green;
    box-shadow: 0 1px 0 0 $company-green;
  }
  .input-field input[type=password]:focus + label {
    color: $company-green;
  }
  /* label underline focus color */
  .input-field input[type=password]:focus {
    border-bottom: 1px solid $company-green;
    box-shadow: 0 1px 0 0 $company-green;
  }

  a {
    display: block;
    i {
      font-size: 250%;
      padding: 10px 20px 0 0;
    }
  }
  .create-account{
    display: inline-block;
  }
  .modal-content {
    padding: 0 7%;
    padding-bottom: 20px;
    @media (min-width: 1440px){
      width: 50%;
      margin: 0 auto;
    }
    @media(max-width: 1439px){
      width: 75%;
      margin: 0 auto;
    }
    @media (max-width: 425px){
      width: 90%;
      margin: 0 auto;
    }
  }
  button {
    margin-bottom: 20px;
  }
  .row {
    margin-bottom: 0;
  }
  p {
    display: inline-block;
  }

  h4 {
    font-weight: 600;
    color: #555;
  }
  i {
    color: #555;
  }
}


#signup-modal {
  width: 40%;

  a {
    display: block;
    i {
      font-size: 250%;
      padding: 10px 20px 0 0;
    }
  }
  .row {
    margin-bottom: 0;
  }
  .modal-content {
    padding-top: 0;
  }
  i {
    color: #555;
  }

  h4 {
    color: #555;
    font-weight: 600;
  }
}


.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
