
  <nav class="#fafafa grey lighten-5">
    <div class="container">
    <div class="nav-wrapper">

      <!-- <a routerLink="/" class="brand-logo hide-on-med-and-down"><img src="assets/img/main-logo.png"></a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <!-- <ul class="center hide-on-med-and-down">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/repair">Repair</a></li>
        <li><a routerLink="/"><img src="assets/img/main-logo.png"></a></li>
        <li><a routerLink="/joint">Join Now</a></li>
        <li><a routerLink="/pricing">Pricing</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#login-modal" class="waves-effect #42a5f5 blue lighten-1 btn">Tech Login</a></li>
      </ul> -->
      <div class="row hide-on-med-and-down">
        <div class="col s3 offset-s2 left-items">
          <ul >
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/repair">Repair</a></li>
          </ul>
        </div>
        <div class="col s2">
          <a routerLink="/"><img src="assets/img/main-logo.png"></a>
        </div>
        <div class="col s3 right-items">
          <ul>
            <li><a routerLink="/joint">Join</a></li>
            <li><a routerLink="/pricing">Pricing</a></li>
            <li><a href="#login-modal">Tech</a></li>
          </ul>
        </div>
      </div>
      <ul class="center button-box">
        <li><a routerLink="/repair" class="waves-effect #7cb342 light-green darken-1 btn">Repair</a></li>
        <li><a href="#login-modal" class="waves-effect #42a5f5 blue lighten-1 btn">Tech</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/repair">Repair</a></li>
        <li><a routerLink="/joint">Join</a></li>
        <li><a routerLink="/pricing">Pricing</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="#login-modal">Tech Login</a></li>
      </ul>

    </div>
    </div>
  </nav>


<router-outlet></router-outlet>


<footer>
  <div class="container">
    <div class="row">
      <div class="col m3 s12">
        <h3>Pristine Wireless</h3>
        <ul>
          <li><a routerLink="/about">About Us</a></li>
          <li><a href="#0">How It Works</a></li>
          <li><a routerLink="/joint">Become a Tech</a></li>
          <li><a routerLink="/pricing">Pricing</a></li>
          <li><a href="#0">Careers</a></li>
          <li><a href="#0">Blog</a></li>
          <li><a href="#0">Affiliate Program</a></li>
          <li><a href="#0">Media Inquiries</a></li>
          <li><a routerLink="/">Home</a></li>
        </ul>
      </div>
      <div class="col m3 s12">
        <h3>Help</h3>
        <ul>
          <li><a href="#0">FAQ</a></li>
        </ul>
      </div>
      <div class="col m3 s12">
        <h3>Legal</h3>
        <ul>
          <li><a href="#0">Privacy</a></li>
          <li><a href="#0">Terms</a></li>
          <li><a href="#0">Guarantee</a></li>
        </ul>
      </div>
      <div class="col m3 s12 follow">
        <div class="follow">
          <h3>Follow us</h3>
          <a href="https://www.facebook.com/pristinewireless/"><i class="ion-social-facebook"></i></a>
          <a href="https://plus.google.com/+PristineWirelessiDeviceRepairThatComesToYouMiramar"><i class="ion-social-google"></i></a>
          <a href="https://www.instagram.com/pristinewireless/"><i class="ion-social-instagram"></i></a>
        </div>
        <div class="contact">
          <ul>
            <li><a>(954) 663-5010</a></li>
            <li><a>pristine.wireless@gmail.com</a></li>

          </ul>
        </div>

      </div>
    </div>
    <hr />
    <span class="right"> &copy; Pristine Wireless LLC 2017</span>
  </div>
</footer>


<!-- MODAL -->

<div id="login-modal" class="modal">
  <a class="right-align modal-action modal-close"><i class="material-icons">close</i></a>
<div class="modal-content">
  <h4 class="center-align">Log In</h4>
  <div class="row">
        <div class="row">
          <form action="/login" method="post" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row center-align">
              <button class="btn waves-effect #42a5f5 blue lighten-1" type="submit" name="action">Login
              </button>
            </div>
            <div class="row center-align">
              <p>Not a Tech?</p>
              <a routerLink="/joint" class="create-account">Apply Here!</a>
            </div>
          </form>
        </div>
  </div>
</div>
</div>

<!-- <div id="signup-modal" class="modal">
  <a class="right-align modal-action modal-close"><i class="material-icons waves-effect">close</i></a>
<div class="modal-content">
  <h4 class="center-align">Sign up</h4>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect #42a5f5 blue lighten-1" type="submit" name="action">Submit
        </button>
      </div>
    </form>
  </div>
</div>
</div> -->
