<section id="joint-header" class="valign-wrapper">
  <div class="valign center-align" style="opacity: 0;">
    <h2 class="center-align">Join Us - Careers at Pristine Wireless</h2>
    <h5 class="center-align">Join our fast growing and exciting Pristine Specilist network</h5>
    <a class="waves-effect waves-light btn-large light-green darken-1"><i class="material-icons right">edit</i>Apply Now</a>
  </div>
</section>

<section id="benefits-section">
<div class="container">
  <div class="row">
    <div class="col s12">
      <p>We are looking for self-motivated, tech-savvy individuals, looking to become their own boss. Our platform provides you with tools, access to discount high-quality parts, and most importantly - consistent jobs in your area!</p>
    </div>
  </div>
  <div class="row">
    <div class="col s4 center-align col-hide" style="opacity: 0;">
      <i class="ion-social-usd"></i>
      <h4>Earn More</h4>
      <p>Make up to $40/hour repairing smartphones in your area. Our top technicians make more than $2000 a week.</p>
    </div>
    <div class="col s4 center-align col-hide" style="opacity: 0;">
      <i class="ion-android-calendar"></i>
      <h4>Work on your time</h4>
      <p>Make this a part time or full time gig. You choose when and where you want to work, be your own boss</p>
    </div>
    <div class="col s4 center-align col-hide" style="opacity: 0;">
      <i class="ion-umbrella"></i>
      <h4>You're never alone</h4>
      <p>Our HQ support team will assist with logistics, payments and provide you with the best tools and parts for the job.</p>
    </div>
  </div>

</div>
</section>


<section id="apply-section">
  <div class="form-container">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="phoneNumber" type="number" class="validate">
            <label for="phoneNumber">Phone Number</label>
          </div>
          <div class="input-field col s6">
            <input id="email" type="email" class="validate">
            <label for="email">Email Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8">
            <input id="address" type="text" class="validate">
            <label for="address">Address</label>
          </div>
          <div class="input-field col s2">
            <input id="state" type="text" class="validate">
            <label for="state">State</label>
          </div>
          <div class="input-field col s2">
            <input id="zipcode" type="text" class="validate">
            <label for="zipcode">Zip Code</label>
          </div>
        </div>
      </form>
    </div>

  </div>
</section>
