<section id="joint-header" class="valign-wrapper">
  <div class="valign center-align" style="opacity: 0;">
    <h2 class="center-align">Join Us - Careers at Pristine Wireless</h2>
    <h5 class="center-align">Join our fast growing and exciting Pristine Specialist network</h5>
    <a href="#apply-section" class="waves-effect waves-light btn-large light-green darken-1"><i class="material-icons right">edit</i>Apply Now</a>
  </div>
</section>

<section id="benefits-section">
<div class="container">
  <div class="row looking-for">
    <div class="col s12">
      <p>We are looking for self-motivated, tech-savvy individuals, looking to become their own boss. Our platform provides you with tools, access to discount high-quality parts, and most importantly - consistent jobs in your area!</p>
    </div>
  </div>
</div>
  <div class="row benefits">
    <div class="container">

    <div class="col s4 center-align col-hide" style="opacity: 0;">
      <i class="ion-social-usd"></i>
      <h4>Earn More</h4>
      <p>Make up to $50/hour repairing smartphones in your area. Our top technicians make more than $2000 a week.</p>
    </div>
    <div class="col s4 center-align col-hide" style="opacity: 0;">
      <i class="ion-android-calendar"></i>
      <h4>Work on your time</h4>
      <p>Make this a part time or full time gig. You choose when and where you want to work, be your own boss</p>
    </div>
    <div class="col s4 center-align col-hide" style="opacity: 0;">
      <i class="ion-umbrella"></i>
      <h4>You're never alone</h4>
      <p>Our HQ support team will assist with logistics, payments and provide you with the best tools and parts for the job.</p>
    </div>
  </div>
  </div>

</section>


<section id="apply-section">
  <h2 class="center-align">Join Our Team!</h2>
  <div class="form-container">
    <div class="row">
      <form class="col s12" (ngSubmit)="submitApplication()" #myForm="ngForm">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" name ="firstName" class="validate" required="true" [(ngModel)]="applicationInfo.firstName" required>
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" name ="lastName" class="validate" [(ngModel)]="applicationInfo.lastName" required>
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="phoneNumber" type="number" name ="phone" class="validate" [(ngModel)]="applicationInfo.phone" required>
            <label for="phoneNumber">Phone Number</label>
          </div>
          <div class="input-field col s6">
            <input id="email" type="email" name ="email" class="validate" [(ngModel)]="applicationInfo.email" required>
            <label for="email">Email Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8">
            <input id="address" type="text" name ="address" class="validate" [(ngModel)]="applicationInfo.address" required>
            <label for="address">Address</label>
          </div>
          <div class="input-field col s2">
            <input id="state" type="text" name ="state" class="validate" [(ngModel)]="applicationInfo.state" required>
            <label for="state">State</label>
          </div>
          <div class="input-field col s2">
            <input id="zipcode" type="text" name ="zipcode" class="validate" [(ngModel)]="applicationInfo.zipCode" required>
            <label for="zipcode">Zip Code</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <select>
              <option value="" disabled selected>Select One</option>
              <option name ="background" value="1" [(ngModel)]="applicationInfo.background">Yes</option>
              <option name ="background" value="2" [(ngModel)]="applicationInfo.background">No</option>
            </select>
            <label>Would you pass a background check?</label>
          </div>
          <div class="input-field col s4">
            <select name ="workInUs">
              <option value="" disabled selected>Select One</option>
              <option value="1" [(ngModel)]="applicationInfo.workInUs">Yes</option>
              <option value="2" [(ngModel)]="applicationInfo.workInUs">No</option>
            </select>
            <label>Are you authorized to work in the US?</label>
          </div>
          <div class="input-field col s4">
            <select name ="over18">
              <option value="" disabled selected>Select One</option>
              <option value="1" [(ngModel)]="applicationInfo.over18">Yes</option>
              <option value="2" [(ngModel)]="applicationInfo.over18">No</option>
            </select>
            <label>Are you over 18?</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <input type="date" id="availibility" name ="ableToStart" class="datepicker" [(ngModel)]="applicationInfo.ableToStart">
            <label for="availibility">Availibility to start? </label>
          </div>
          <div class="input-field col s4">
            <select name ="bestContactTime">
              <option value="" disabled selected>Select One</option>
              <option value="1" [(ngModel)]="applicationInfo.bestContactTime">Mornings</option>
              <option value="2" [(ngModel)]="applicationInfo.bestContactTime">Afternoons</option>
              <option value="3" [(ngModel)]="applicationInfo.bestContactTime">Nights</option>
            </select>
            <label>What is the best time to contact you? </label>
          </div>
          <div class="input-field col s4">
            <select name ="pastExperience">
              <option value="" disabled selected>Select One</option>
              <option value="1" [(ngModel)]="applicationInfo.pastExperience">Less than a Year</option>
              <option value="2" [(ngModel)]="applicationInfo.pastExperience">1 - 3 Years</option>
              <option value="3" [(ngModel)]="applicationInfo.pastExperience">Over 3 Years</option>
            </select>
            <label>Prior smart device repair experience? </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <select name ="numberOfPhonesDone">
              <option value="" disabled selected>Select One</option>
              <option value="1" [(ngModel)]="applicationInfo.numberOfPhonesDone">1 - 50 </option>
              <option value="2" [(ngModel)]="applicationInfo.numberOfPhonesDone">50 - 100 </option>
              <option value="3" [(ngModel)]="applicationInfo.numberOfPhonesDone">More than 100</option>
            </select>
            <label>Number of smart phones previously repaired </label>
          </div>
          <div class="input-field col s4">
            <select name ="numberOfTabletsDone">
              <option value="" disabled selected>Select One</option>
              <option value="1" [(ngModel)]="applicationInfo.numberOfTabletsDone">1 - 50 </option>
              <option value="2" [(ngModel)]="applicationInfo.numberOfTabletsDone">50 - 100 </option>
              <option value="3" [(ngModel)]="applicationInfo.numberOfTabletsDone">More than 100</option>
            </select>
            <label>Number of tablets previously repaired </label>
          </div>
          <div class="input-field col s4">
            <select name ="referredBy">
              <option disabled selected>Select One</option>
              <option value="1" [(ngModel)]="applicationInfo.referredBy"> Internet </option>
              <option value="2" [(ngModel)]="applicationInfo.referredBy"> Friend </option>
            </select>
            <label>How did you hear about Pristine Wireless? </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Select One</option>
              <option value="1" [(ngModel)]="applicationInfo.transportation"> Yes </option>
              <option value="2" [(ngModel)]="applicationInfo.transportation"> No </option>
            </select>
            <label>Pristine Wireless is entirely mobile in operation. Do you have access to reliable transportation?</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <a class="waves-effect waves-light btn-large light-green darken-1"><i class="material-icons right">send</i>Submit</a>
          </div>
        </div>

      </form>
    </div>

  </div>
</section>
