@import "../../_variables.scss";


#guarantee {
  color: #555;
  h4 {
    margin: 40px 0 40px 0;
    font-weight: bold;
  }
  h5 {
    font-weight: bold;
    margin: 30px 0;
  }
  hr {
    margin: 0 0 40px;
    border: 1px solid #ddd;
  }

  ul{
    padding-left: 57px;
    margin: 25px 0 40px 0;
    li{
      list-style: disc;
      padding-left: 10px;
    }
  }

  p{
    span{
      font-size: 16.5px;
      font-weight: bold;
    }
  }
}
