<section id="guarantee">
  <div class="container">
    <div class="row">
      <div class="col l6 offset-l3 m12 s12">
        <h4 class="center">Our Guarantee</h4>
        <hr />
        <p>
          Pristine Wireless is on a mission to connect consumers with the best possible repair services and support provided by our network of skilled technicians using top quality replacement parts. We offer a Lifetime Guarantee on all parts and labor used for services booked through Pristine Wireless, unless it conflicts with the below items. Please email us at support@pristinewireless.com with any questions.
        </p>
        <h5>WHAT IS NOT INCLUDED IN THE GUARANTEE:</h5>
        <ul>
          <li>Any subsequent damage of any kind caused to the device after the repair</li>
          <li>Any mishandling that causes the frame to bend, twist, or crack</li>
          <li>Damage resulting from misuse of any kind</li>
          <li>Any kind of liquid damage</li>
          <li>Any software related issues</li>
          <li>Faults not relating to the original repair done (e.g. if a Pristine Wireless technician replaced the charging port the guarantee would not cover a faulty power button, or if a Pristine Wireless technician replaced a screen the guarantee will not cover the speakers)</li>
          <li>Any software related issues</li>
          <li>Loss of data (please backup your device before getting repaired)</li>
          <li>If another repair is done on the device after our repair by someone other than a Pristine Wireless Technician. This voids our guarantee</li>
          <li>Any pre-condition issues from original repair</li>
          <li>Cracked screens</li>
          <li>Any known manufacturing and/or performance issues related to the device separate from the repair, as noted prior to the repair</li>
          <li>Jailbroken devices</li>
          <li>A non-working, damaged or severed home button/bio-metric scanner</li>
          <li>Notification of an related issue to repair must be done within <strong>3 days</strong> of original service</li>



        </ul>

        <p>
          <span>
            THE GUARANTEE IS VALID EXCLUSIVELY TO THE CUSTOMER WHO PURCHASED THE REPAIR AND WHOSE NAME IS ON THE GUARANTEE/INVOICE. THE GUARANTEE WILL NOT BE TRANSFERABLE IF THE DEVICES OWNERSHIP IS DISTRIBUTED TO ANOTHER INDIVIDUAL OR BUSINESS.
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
