

<div  id="hero-section" class="parallax-container">
  <div class="overlay">

     <div class="parallax"><img src="../../assets/img/hero-section.jpg"></div>

       <div class="container">
         <div class="row">
           <!-- <div class="col s6 valign-wrapper" style="height: 80vh;">
             <div class="valign">
               <h1>A broken iPhone can be frustrating.</h1>
               <hr>
               <h2><span>Fixing it</span> shouldn't be</h2>
             </div>
           </div>
           <div class="col s6 valign-wrapper right-content" style="height: 80vh;">
             <div style="width: 100%;" class="valign center-align">
               <h3>Any time, any place!</h3>
               <a routerLink="/repair" class="waves-effect #7cb342 light-green darken-1 btn-large"><i class="material-icons right">phone</i>Repair my Device</a>
             </div>
           </div> -->
           <div class="col s7 offset-s5">
             <div id="hero-container">
               <h1>A broken iPhone can be frustrating.</h1>
               <hr>
               <h2><span>Fixing it</span> shouldn't be</h2>
               <div style="width: 100%;" class="">
                 <!-- <h3>Any time, any place!</h3> -->
                 <a routerLink="/repair" class="waves-effect #7cb342 light-green darken-1 btn-large"><i class="material-icons right">phone</i>Repair my Device</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
</div>

<!-- <section style="background-image: linear-gradient(to top, #fff, #42A5F5);">
  <div class="container center-align">
    <div class="row">
      <h2> Why Choose Us?</h2>
      <div class="col s3">
        <p>
          Covnenient

        </p>
      </div>
      <div class="col s3">
        <p>

          Fast
        </p>
      </div>
      <div class="col s3">
        <p>

          Trustworthy
        </p>
      </div>
      <div class="col s3">
        <p>
          Customers First
        </p>

      </div>
    </div>
  </div>
</section> -->


<section id="how-it-works-section" >
    <div class="container center-align">
        <h2>How it Works?</h2>
        <hr>
        <div class="row">
            <div class="col m4 s12">
              <div class="steps">
                <img src="../../assets/img/rep.png" alt="">
                <p>Our Pristine Specialists are immediately notified of your request.</p>

              </div>
            </div>
            <div class="col m4 s12">
              <div class="steps">
                <img src="../../assets/img/message.png" alt="">
                <p>You will receive a call or text message from a Pristine Specialist.</p>

              </div>
            </div>
            <div class="col m4 s12">
              <div class="steps">
                <img src="../../assets/img/city.png" alt="">
                <p>Choose any place to meet that is convenient for you (Home, Work, etc.)</p>

              </div>
            </div>
        </div>
    </div>
</section>


<section id="feature-section" class="parallax-container">
  <div class="overlay">

     <div class="parallax"><img src="../../assets/img/hero-section1.jpg"></div>

     <div class="container">
       <h2 class="center-align">We can fix it!</h2>
       <hr>
       <div class="row">
           <div class="col s4">
             <p><i class="ion-checkmark-circled"></i>Headphones Plug</p>
             <p><i class="ion-checkmark-circled"></i>Power button</p>
             <p><i class="ion-checkmark-circled"></i>Water Damage</p>
             <p><i class="ion-checkmark-circled"></i>Home Button</p>
             <p><i class="ion-checkmark-circled"></i>Charging Port</p>
           </div>
             <div class="col s4">
               <p><i class="ion-checkmark-circled"></i>Side Buttons</p>
               <p><i class="ion-checkmark-circled"></i>Speakers Wifi/Bluetooth</p>
               <p><i class="ion-checkmark-circled"></i>Battery</p>
               <p><i class="ion-checkmark-circled"></i>Screen</p>
               <p><i class="ion-checkmark-circled"></i>Won't turn on</p>
             </div>
             <div class="col s4">
               <h3>Devices</h3>
               <a href="">iPhone</a>
               <a href="">Samsung Galaxy</a>
               <a href="">iPad</a>
             </div>
       </div>
     </div>
     </div>
</section>

<section id="repair-section">
  <div style="display: none;"class="container center-align">
    <p>Don't take our word for it!</p>
    <h2>What our customers say about us</h2>
    <div id="photoShow">
      <div class="mydiv review-1 current">
        <h3>Francesca</h3>
        <img src="../../assets/img/stars.png" alt="">
        <!-- <img src="../../assets/img/customer-1.png" alt=""> -->
      <p><i>"I called around and nobody offered me a better price than Pristine Wireless."</i></p>
      </div>

      <div class="mydiv review-2">
        <h3>Nicole</h3>
        <img src="../../assets/img/stars.png" alt="">
        <!-- <img src="../../assets/img/customer-2.png" alt=""> -->
        <p><i>"Quickly repaired our device and conveniently met us up near FIU."</i></p>
      </div>

      <div class="mydiv review-3">
        <h3>Gisell</h3>
        <img src="../../assets/img/stars.png" alt="">
        <!-- <img src="../../assets/img/customer-3.png" alt=""> -->
        <p><i>"Amazing work! I was not sure what to expect but I called and had Daniel out to my job in a matter of 15min ready to replace my iPhone 6 screen."</i></p>
      </div>
    </div>
  </div>
</section>

  <section id="locations-section" class="parallax-container">
    <div class="overlay">
    <div class="parallax"><img src="../../assets/img/location-section.jpg"></div>
    <div class="container">
      <h2 class="center-align">We Have South Florida Covered!</h2>
      <hr>
      <div class="row">
        <div class="col s6">
          <h3 class="center-align">Miami Dade</h3>
          <div class="row miami">
            <div class="col s6">
              <a href="#"><i class="ion-ios-location"></i>FIU</a>
              <a href="#"><i class="ion-ios-location"></i>Kendal</a>
              <a href="#"><i class="ion-ios-location"></i>Aventura</a>
              <a href="#"><i class="ion-ios-location"></i>Brickell</a>
              <a href="#"><i class="ion-ios-location"></i>Coral Gables</a>
            </div>
            <div class="col s6">
              <a href="#"><i class="ion-ios-location"></i>Hialeah</a>
              <a href="#"><i class="ion-ios-location"></i>Miami Beach</a>
              <a href="#"><i class="ion-ios-location"></i>Coconut Grove</a>
              <a href="#"><i class="ion-ios-location"></i>Miami Gardens</a>
              <a href="#"><i class="ion-ios-location"></i>Miami Springs</a>
            </div>
          </div>
        </div>

        <div class="col s6 ">
          <h3 class="center-align">Broward </h3>
          <div class="row broward">
            <div class="col s6">
                  <a href="#"><i class="ion-ios-location"></i>Miramar</a>
                  <a href="#"><i class="ion-ios-location"></i>Weston</a>
                  <a href="#"><i class="ion-ios-location"></i>Sunrise</a>
                  <a href="#"><i class="ion-ios-location"></i>Cooper City</a>
                  <a href="#"><i class="ion-ios-location"></i>Pembroke Pines</a>
            </div>
            <div class="col s6">
              <a href="#"><i class="ion-ios-location"></i>Davie</a>
              <a href="#"><i class="ion-ios-location"></i>Plantation</a>
              <a href="#"><i class="ion-ios-location"></i>Barry University</a>
              <a href="#"><i class="ion-ios-location"></i>Nova University</a>
              <a href="#"><i class="ion-ios-location"></i>Broward College</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
  </section>
