

<div  id="hero-section" class="parallax-container">
  <div class="overlay">

     <div class="parallax">
       <img src="../../assets/img/hero-section.jpg">
     </div>

     <div class="container">
       <div class="row">
         <div class="col s7 offset-s5">
           <div id="hero-container">
             <h1>A broken iPhone can be frustrating.</h1>
             <hr>
             <h2><span>Fixing it</span> shouldn't be</h2>
             <div style="width: 100%;" class="">
               <a routerLink="/repair" class="waves-effect #7cb342 light-green darken-1 btn-large"><i class="material-icons right">phone</i>Repair</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</div>

<section id="why-pristine" style="background-image: url('../../assets/img/bg.jpg');">
  <div class="container center-align" >
    <h2> Why Pristine</h2>
    <hr />
    <h3 class="hide-on-small-only">
      Breaking your mobile devices can be a stressful and <span>frustrating</span> experience, repairing them <span>shouldn't</span> be.
    </h3>
    <div class="row">
      <div class="col m3 s12">
        <div class="reasons">
          <i class="material-icons">location_on</i>
          <h5>
            Covnenient
          </h5>
          <p>
            Let us come to you so you can save the stress, time, and money.
          </p>

        </div>
      </div>
      <div class="col m3 s12">
        <div class="reasons">
          <i class="material-icons">airport_shuttle</i>
          <h5>
            Quick
          </h5>
          <p>
            We can be there within the hour and can do the repair just as fast.
          </p>

        </div>
      </div>
      <div class="col m3 s12">
        <div class="reasons">
          <i class="material-icons">thumb_up</i>
          <h5>
            Trusted
          </h5>
          <p>
            Highly reviewed and recommended, we are the go to service for thousands.
          </p>

        </div>
      </div>
      <div class="col m3 s12">
        <div class="reasons">
          <i class="material-icons">loyalty</i>
          <h5>
            Loyalty
          </h5>
          <p>
            We go above and beyond so rest assured you are in good hands.
          </p>

        </div>

      </div>
    </div>
  </div>
</section>

<section id="feature-section" class="parallax-container">
  <div class="overlay">

    <div class="parallax"><img src="../../assets/img/hero-section1.jpg"></div>

    <div class="container">
      <h2 class="center-align">We can fix it!</h2>
      <hr>
      <div class="row">
        <div class="col s8 offset-s2 devices center-align">
          <h3>Devices</h3>
          <a href="">iPhone</a>
          <a href="">Samsung Galaxy</a>
          <a href="">iPad</a>
        </div>

      </div>

      <div class="row">
        <div class="col s8 offset-s2">
          <div class="fix-flex">
            <ul>
              <li><i class="ion-checkmark-circled"></i>Screen</li>
              <li><i class="ion-checkmark-circled"></i>Battery</li>
              <li><i class="ion-checkmark-circled"></i>Water Damage</li>
              <li><i class="ion-checkmark-circled"></i>Home Button</li>
              <li><i class="ion-checkmark-circled"></i>Charging Port</li>
            </ul>
            <ul>
              <li><i class="ion-checkmark-circled"></i>Headphone Port</li>
              <li><i class="ion-checkmark-circled"></i>Power Button</li>
              <li><i class="ion-checkmark-circled"></i>Speakers</li>
              <li><i class="ion-checkmark-circled"></i>Volume Button</li>
              <li><i class="ion-checkmark-circled"></i>Diognostic</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how-it-works-section" style="background-image: url('../assets/img/bg.jpg');">
    <div class="container center-align">
        <h2>How it Works</h2>
        <hr>
        <h3 class="hide-on-small-only">Our tailored system allows you to enter all your repair information and <span>instantly</span> be connected with one of <span>skilled</span> techs. </h3>
        <div class="row">
            <div class="col m4 s12">
              <div class="steps">
                <i class="material-icons">perm_identity</i>
                <p>Our Pristine Specialists are immediately notified of your request.</p>
                <!-- <img src="../../assets/img/rep.png" alt=""> -->
              </div>
            </div>
            <div class="col m4 s12">
              <div class="steps">
                <!-- <img src="../../assets/img/message.png" alt=""> -->
                <i class="material-icons">message</i>
                <p>You will receive a call or text message from a Pristine Specialist.</p>

              </div>
            </div>
            <div class="col m4 s12">
              <div class="steps">
                <!-- <img src="../../assets/img/city.png" alt=""> -->
                <i class="material-icons">location_city</i>
                <p>Choose any place to meet that is convenient for you. (Home, Work, etc.)</p>

              </div>
            </div>
        </div>
    </div>
</section>

<section id="locations-section" class="parallax-container">
  <div class="overlay">
    <div class="parallax"><img src="../../assets/img/location-section.jpg"></div>
    <div class="container">
      <h2 class="center-align">We Have South Florida Covered!</h2>
      <hr>
      <div class="row">
        <div class="col s6">
          <h3 class="center-align">Miami Dade</h3>
          <div class="row miami">
            <div class="col s6">
              <a href="#"><i class="ion-ios-location"></i>FIU</a>
              <a href="#"><i class="ion-ios-location"></i>Kendal</a>
              <a href="#"><i class="ion-ios-location"></i>Aventura</a>
              <a href="#"><i class="ion-ios-location"></i>Brickell</a>
              <a href="#"><i class="ion-ios-location"></i>Coral Gables</a>
            </div>
            <div class="col s6">
              <a href="#"><i class="ion-ios-location"></i>Hialeah</a>
              <a href="#"><i class="ion-ios-location"></i>Miami Beach</a>
              <a href="#"><i class="ion-ios-location"></i>Coconut Grove</a>
              <a href="#"><i class="ion-ios-location"></i>Miami Gardens</a>
              <a href="#"><i class="ion-ios-location"></i>Miami Springs</a>
            </div>
          </div>
        </div>

        <div class="col s6 ">
          <h3 class="center-align">Broward </h3>
          <div class="row broward">
            <div class="col s6">
              <a href="#"><i class="ion-ios-location"></i>Miramar</a>
              <a href="#"><i class="ion-ios-location"></i>Weston</a>
              <a href="#"><i class="ion-ios-location"></i>Sunrise</a>
              <a href="#"><i class="ion-ios-location"></i>Cooper City</a>
              <a href="#"><i class="ion-ios-location"></i>Pembroke Pines</a>
            </div>
            <div class="col s6">
              <a href="#"><i class="ion-ios-location"></i>Davie</a>
              <a href="#"><i class="ion-ios-location"></i>Plantation</a>
              <a href="#"><i class="ion-ios-location"></i>Barry University</a>
              <a href="#"><i class="ion-ios-location"></i>Nova University</a>
              <a href="#"><i class="ion-ios-location"></i>Broward College</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="review-section" style="background-image: url('../../assets/img/bg.jpg');">
  <div class="container center-align">
    <h2 class="hide-on-small-only">What our customers <br />say about us</h2>
    <p>Don't take our word for it!</p>
    <div id="photoShow">
      <div class="mydiv review-1 current">
        <h3>Francesca</h3>
        <img src="../../assets/img/stars.png" alt="">
        <!-- <img src="../../assets/img/customer-1.png" alt=""> -->
      <p><i>"I called around and nobody offered me a better price than Pristine Wireless."</i></p>
      </div>

      <div class="mydiv review-2">
        <h3>Nicole</h3>
        <img src="../../assets/img/stars.png" alt="">
        <!-- <img src="../../assets/img/customer-2.png" alt=""> -->
        <p><i>"Quickly repaired our device and conveniently met us up near FIU."</i></p>
      </div>

      <div class="mydiv review-3">
        <h3>Gisell</h3>
        <img src="../../assets/img/stars.png" alt="">
        <!-- <img src="../../assets/img/customer-3.png" alt=""> -->
        <p><i>"Amazing work! I was not sure what to expect but I called and had Daniel out to my job in a matter of 15min ready to replace my iPhone 6 screen."</i></p>
      </div>
    </div>
    <a href="https://www.yelp.com/biz/pristine-wireless-miami-5"><img src="../../assets/img/yelp-with-stars.png" /></a>
  </div>
</section>
