.valign {
  width: 100%;
}


#progress-bar {
  height: 32vh;

  .line {
    position: absolute;
    width: 49%;
    top: 16.8%;
    left: 25%;
    margin: auto;
    height: 2px;
    background-color: #ddd;
    z-index: -1;
  }
  p {
    display: inline-block;
    background-color: #fff;
    border: 3px solid #ddd;
    padding: 10px 17px;
    border-radius: 50%;
    color: #ddd;
    z-index: 1;
  }
  h5 {
    color: #555;
  }
  .active {
    background: #7cb342;
    border: 3px solid #7cb342;
    color: #fff;
  }
}

.progress {
  height: 7px;
  background-color: #dedede;

  .determinate {
    background-color: #7cb342;
  }
}

#repair-header {
  h2 {
    font-size: 200%;
    color: #555;
  }
  hr {
    margin-bottom: 20px;
    border: 1px solid #dedede;
  }

}

.select-device {
  img {
    height: 90px;
    width: 120px;
    margin-bottom: 40px;
  }

  span {
    font-weight: bold;
  }

  div {
    // margin: 0, auto;
    overflow: hidden;
    width: 150px;
    height: 200px;
    float: left;
    padding: 15px;
    margin: 15px;
    color: #555;
    background-color: white;
    border: 3px #337AB7 solid;
    border-radius: 7px;
  }

}

button {
  margin: 0, auto;
  width: 150px;
  float: left;
  padding: 15px;
  margin: 15px;
  color: #555;
  background-color: #337AB7;
  border-width: 3px;
  border-color: black;
  border-radius: 7px;
}

#select-color-container {
  margin: 0 auto;
  button {
    height: 100px;
    width: 100px;
    border-radius: 50% 50%;
  }
  .gold {
    background-color: var(--gold);
    color: var(--black);
  }

  .silver {
    background-color: var(--silver);
    color: var(--black);
  }

  .rose-gold {
    background-color: var(--rose-gold);
    color: var(--black);
  }

  .black {
    background-color: var(--black);
    color: #fff;
  }

  .jet-black{
    background-color: var(--jet-black);
    color: #fff;
  }

  .space-gray {
    background-color: var(--space-gray);
    color: #fff;
  }

  .white{
    background-color: var(--white);
    color: var(--black);
  }

  .blue{
    background-color: var(--blue);
    color: var(--black);
  }

  .green{
    background-color: var(--green);
    color: var(--black);
  }

  .pink{
    background-color: var(--pink);
    color: var(--black);
  }

  .yellow{
    background-color: var(--yellow);
    color: var(--black);
  }
}

#select-repair-container {
  button {
    height: 125px;
    width: 125px;
    background-color: white;
    color: #555;
    border: 3px #337AB7 solid;
    border-radius: 7px;
  }
  span {
    font-weight: bold;
  }
}

#select-date-container {
  button {
    height: 125px;
    width: 125px;
    background-color: white;
    color: #555;
    border: 3px #337AB7 solid;
    border-radius: 7px;

  }
}

#select-time-container{
  button {
    height: 60px;
    width: 125px;
    background-color: white;
    color: #555;
    border: 3px #337AB7 solid;
    border-radius: 7px;

  }
  span {
    font-weight: bold;
  }
}


.location-form{
  margin: 30px auto;
  width: 25%;
  float: left;

  label {
    color: #666;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  input, button {
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
  }
  button {
    background: white;
    border: 1px solid #43a3e6;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease background;
    width: 100%;
  }

  button:hover {
    background: #5CB85C;
    color: #fff;
    transition: .3s ease background;

  }
}


.contact-form{
  margin: 30px auto;
  width: 50%;
  float: right;

  label {
    color: #666;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  input, button {
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
  }

  // button {
  //   background: #43a3e6;
  //   border: 1px solid #43a3e6;
  //   border-radius: 4px;
  //   color: #fff;
  //   cursor: pointer;
  //   display: inline-block;
  //   font-size: 14px;
  //   padding: 8px 16px;
  //   text-decoration: none;
  //   text-transform: uppercase;
  //   transition: .3s ease background;
  //   width: 100%;
  // }

  button:hover {
    background: #5CB85C;
    color: #fff;
    transition: .3s ease background;

  }
}

.submit-request-button {
  font-size: 20px;
  width: 100%;
  float:left;
  clear: both;
  margin-top: 25px;
  margin-left: 0;
  background-color: white;
  border: 3px #337AB7 solid;
  font-weight: bold;

}



/*.location-form {
  margin-left: 20%;
  float: left;
}*/

/*.contact-form {
  margin-right: 20%;
  float: right;
}*/


.img-wrapper {
  margin: auto 0;
}
#confirmation-info {
  hr {
    width: 80%;
  }

  span {
    font-weight: bold;
  }
  p {
    font-weight: bold;
    margin-top: 5px;
  }
  div {padding-bottom: 30px;}
}

#next-steps {
  div {
    padding: 30px;
  }
  li {
    list-style-type: disc;
    margin: 10px 0;
  }
  hr {
    width: 100%;
  }
}
